In [15]:
import pandas as pd

In [16]:
dict_data={'a':1,'b':2,'c':3}
sr=pd.Series(dict_data)
print(type(sr))
print()
print(sr)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [17]:
list_data=['2019-01-02',3.14,'ABC',100,True]
sr=pd.Series(list_data)
print(sr)
print()
idx=sr.index
val=sr.values

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [18]:
tup_data=('영인','2010-05-01','여',True)
sr=pd.Series(tup_data,index=['이름','생년월일','성별','학생여부'])
print(sr)
print()
print(sr[0])
print(sr['이름'])
print()

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

영인
영인

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\1384442249.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [19]:
print(sr[[1,2]])
print()
print(sr[['생년월일','성별']])
print()
print(sr[1:2])
print()
print(sr['생년월일':'성별'])

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\3610084906.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2]])

In [20]:
dict_data={'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
df=pd.DataFrame(dict_data)
print(type(df))
print()
print(df)

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [21]:
df = pd.DataFrame( [ [15, '남', '덕영중'], [17, '여', '수리중'] ],index=['준서', '예은'],columns=['나이', '성별', '학교'])
print('df ========================\n', df)
print('df.index => ',df.index)
print('df.column => ',df.columns)

df ========================
     나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
df.index =>  Index(['준서', '예은'], dtype='object')
df.column =>  Index(['나이', '성별', '학교'], dtype='object')

In [22]:
df.index=['학생1', '학생2']
df.columns=['연령', '남녀', '소속']
print(df)
print()
print(df.index)
print()
print(df.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

Index(['학생1', '학생2'], dtype='object')

Index(['연령', '남녀', '소속'], dtype='object')

In [23]:
df2=df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'})
df3=df.rename(index={'준서':'학생1', '예은':'학생2' }, inplace=True)
print(f'f======{df3}\n{df}')
print(f'df2======\n{df2}')

f======None
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
df2======
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [24]:
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],'음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print()
df2 = df[:]
df2.drop('우현', inplace=True)
print(df2)
print()
df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\4026144584.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True)
C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\4026144584.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현', '인아'], axis=0, inplace=True)

In [25]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print()
df4 = df[:]
df4.drop('수학', axis=1, inplace=True)
print(df4)
print()
df5 = df[:]
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\2190331946.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop('수학', axis=1, inplace=True)
C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\2190331946.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['영어', '음악'], axis=1, inplace=True)

In [26]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print()
df4 = df[:]
df4.drop('수학', axis=1, inplace=True)
print(df4)
print()
df5 = df[:]
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\2190331946.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop('수학', axis=1, inplace=True)
C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\2190331946.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['영어', '음악'], axis=1, inplace=True)

In [28]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print('df ==================\n', df )
print()
label1 = df.loc['서준']
position1 = df.iloc[0]
print('label1=>', label1)
print()
print('position1 =>', position1)
print()

df ==================
     수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

label1=> 수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

position1 => 수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [29]:
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]
print(label2)
print()
print(position2)
print()
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3)
print()
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100

In [30]:
exam_data = {'이름' : [ '서준', '우현', '인아'],'수학' : [ 90, 80, 70],'영어' : [ 98, 89, 95],'음악' : [ 85, 95, 100],'체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print()
math1 = df['수학']
print(math1)
print(type(math1))
print()

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [32]:
english = df.영어
print(english)
print(type(english))
music_gym = df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
math2 = df[['수학']]
print(math2)
print(type(math2))

0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>
    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>
   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [33]:
df.set_index('이름', inplace=True)
print(df)
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
85
85

In [34]:
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악':'체육']
print(e)
f = df.iloc[0, 2:]
print(f )
print()
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j = df.iloc[0:2, 2:]
print( j)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

In [35]:
df['국어'] = 80
print(df)

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80

In [36]:
df.loc[3] = 0
print(df )
print()

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
3    0   0    0    0   0

In [37]:
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df )
print()
df.loc['행5'] = df.loc[3]
print(df )

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
3    0   0    0    0   0
4   동규  90   80   70  60

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
3    0   0    0    0   0
4   동규  90   80   70  60
행5   0   0    0    0   0

In [38]:
exam_data = {'이름' : [ '서준', '우현', '인아'],

'수학' : [ 90, 80, 70],
'영어' : [ 98, 89, 95],
'음악' : [ 85, 95, 100],
'체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df.set_index('이름', inplace=True)
print(df )
print()
df.iloc[0][3] = 80
print(df )
print()

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\2256955163.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[0][3] = 80
C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\2256955163.py:11: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[0][3] = 80

In [39]:
df.loc['서준']['체육'] = 90
print(df )
print()
df.loc['서준', '체육'] = 100
print(df )
print()
df.loc['서준', ['음악', '체육']] = 50
print(df )
print()
df.loc['서준', ['음악', '체육']] = 100, 50
print(df )

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_17400\3203894941.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc['서준']['체육'] = 90