In [27]:
import pandas as pd

In [28]:
iceData={'이름':['메로나','비비빅','죠스바'],
         '가격':[300,400,250],
         '재고':[20,3,100]}
iceDataDF=pd.DataFrame(iceData)
iceDataDF

    이름   가격   재고
0  메로나  300   20
1  비비빅  400    3
2  죠스바  250  100

In [29]:
iceDataDF['가격']

0    300
1    400
2    250
Name: 가격, dtype: int64

In [30]:
iceDataDF[['이름','재고']]

    이름   재고
0  메로나   20
1  비비빅    3
2  죠스바  100

In [31]:
iceDataDF.loc[1]

이름    비비빅
가격    400
재고      3
Name: 1, dtype: object

In [32]:
iceDataDF.loc[[0,2]]

    이름   가격   재고
0  메로나  300   20
2  죠스바  250  100

In [33]:
iceDataDF.rename(index={0:'일',1:'이',2:'삼'})

    이름   가격   재고
일  메로나  300   20
이  비비빅  400    3
삼  죠스바  250  100

In [34]:
iceDataDF['총가격']=0
iceDataDF

    이름   가격   재고  총가격
0  메로나  300   20    0
1  비비빅  400    3    0
2  죠스바  250  100    0

In [39]:
iceDataDF.loc[3]=['빵빠레',550,10,0]
iceDataDF

    이름   가격   재고  총가격
0  메로나  300   20    0
1  비비빅  400    3    0
2  죠스바  250  100    0
3  빵빠레  550   10    0

In [40]:
iceDataDF

    이름   가격   재고  총가격
0  메로나  300   20    0
1  비비빅  400    3    0
2  죠스바  250  100    0
3  빵빠레  550   10    0

In [ ]:
data=[[2000,2050,2050,1980],
      [7500,2050,2050,1980],
      [15450,15050,15550,14900]]

- (3-01) 판다스는 (데이터)를 분석하기 위한 패키지입니다. 
- (3-02) 판다스에서는 다양한 종류의 데이터를 (데이터 프레임)형태로 저장합니다. 
- (3-03) 판다스에서는 1차원 데이터를 저장하는 자료구조를 (시리즈)라고 합니다.
- (3-04) 판다스에서는 2차원 데이터를 저장하는 자료구조를 (데이터프레임)라고 합니다.
- (3-05) 판다스는 내부적으로 데이터를 (array)형태로 저장합니다. 
- (3-06) 판다스에서는 1개 열/column 추출 시 자료구조는 (시리즈)입니다. 
- (3-07) 판다스에서는 1개 행/row 추출 시 자료구조는 (시리즈)입니다. 
- (3-08) 판다스에서는 2개 이상 열/column 또는 행/row 추출 시 자료구조는(데이터프레임)입니다.
(