### [멀티인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [94]:
import pandas as pd
file1='test_data.csv'
file2='test_data2.csv'
df1=pd.read_csv(file1)
df2=pd.read_csv(file2)

In [95]:
import df_util as util
util.checkDF(df1,'df1')
util.checkDF(df2,'df2')

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
[Index]   : RangeIndex(start=0, stop=10, step=1)
[Columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[NDim]    : 2
[df2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes
[Index]   : RangeIndex(start=0, stop=5, step=1)
[Columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[NDim]    : 2

In [96]:
# 행인댁스 설정
# df1의 첫번쨰 컬럼을 행인덱스로 설정 ==> set_index([컬럼1, 컬럼2])
df11=df1.set_index('index')
df11.index.name=None
df11.index

# 'A'행 데이터 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [97]:
# 'A', 'C'행 추출
df11.loc[['A','C']]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [107]:
# df1의 첫번쨰 두번째 컬럼을 행인덱스로 설정 ==> set_index([컬럼1, 컬럼2])
df11=df1.set_index(['index','col1'])
df11.index

# ('A', 8) 행 추출
df11.loc[('A', 8)]

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_4220\3957045342.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
  df11.loc[('A', 8)]

            col2  col3
index col1
A     8        6     5

In [108]:
df11.loc[[('A', 8),('A',1)]]

            col2  col3
index col1
A     8        6     5
      1        8     7

In [109]:
# 멀티인덱스의 속성들 확인
mIdx=df11.index
print(f'nlevels : {mIdx.nlevels}')
print(f'levels : {mIdx.levels}')
print(f'names : {mIdx.names}')

nlevels : 2
levels : [['A', 'B', 'C'], [1, 2, 3, 4, 5, 8]]
names : ['index', 'col1']

In [110]:
# 멀티인덱스에서 level10이 동일한 행 추출
# - 'A'
df11.loc['A']

      col2  col3
col1
8        6     5
1        8     7
3        1     4

In [111]:
# 멀티인덱스에서 level1이 동일한 행 추출
# - 8
# df11.loc[8]      ERROR
df11.xs(8,level=1)

       col2  col3
index
A         6     5
C         4     3
C         2     0
C         8     6

In [112]:
# 멀티인덱스에서 행추가
# - 인덱스 행추가 => 변수명.loc[행인덱스]=값
df11.loc[('D',9),:]=[9,9]
df11

C:\Users\KDP-48\AppData\Local\Temp\ipykernel_4220\479662731.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df11.loc[('D',9),:]=[9,9]
C:\Users\KDP-48\AppData\Local\Temp\ipykernel_4220\479662731.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df11.loc[('D',9),:]=[9,9]

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      9.0   9.0

In [116]:
sr2=pd.Series({'col2':10,'col3':10})
sr2

col2    10
col3    10
dtype: int64

In [113]:
sr1=pd.Series({'col2':10,'col3':10})
sr1.index=['D',10]