### [데이터 필터링 - Boolean Indexing]
- Series/DataFrame에서 원사는 조건의 데이터만 추출하기 위한 것
- True and False 로 구성 ===> index로 사용

In [1]:
import pandas as pd

In [5]:
data={'name':['마징가','배트맨','홍길동'],
      'age':[25,31,19],
      'gender':['남','남','여']}
dataDF=pd.DataFrame(data)
dataDF

  name  age gender
0  마징가   25      남
1  배트맨   31      남
2  홍길동   19      여

In [8]:
# 남자만
boolIdx=dataDF["gender"]=='남'
boolIdx

0     True
1     True
2    False
Name: gender, dtype: bool

In [9]:
dataDF[boolIdx]

  name  age gender
0  마징가   25      남
1  배트맨   31      남

In [13]:
# 30세 이상의 남자
boolIdx=(dataDF['age']>=30)&(dataDF['gender']=='남')

In [14]:
dataDF[boolIdx]

  name  age gender
1  배트맨   31      남

In [15]:
# 20세 이하 이거나 성별이 남자인 데이터
boolIdx=(dataDF['age']<=20)|(dataDF['gender']=='남')

In [16]:
dataDF[boolIdx]

  name  age gender
0  마징가   25      남
1  배트맨   31      남
2  홍길동   19      여

In [20]:
# 남자가 아닌데이터
boolIdx=~(dataDF['gender']=='남')

In [21]:
dataDF[boolIdx]

  name  age gender
2  홍길동   19      여