### [중복데이터 처리]
- 중복 데이터 검사 후 처리 ==> 삭제
- [주의] 중복 데이터를 모두 삭제하는게 아니라 데이터에 맞게 특성 파악후 적용여부 검토

In [32]:
import pandas as pd

In [33]:
file_name='test.csv'

In [34]:
csvDF=pd.read_csv(file_name)

In [35]:
csvDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      6 non-null      int64
 1   name    5 non-null      object
 2   age     5 non-null      float64
 3   gender  6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 324.0+ bytes

In [36]:
# 실제 데이터 확인
csvDF.head(2),csvDF.tail(2)

(   no  name   age gender
 0   1  Hong  10.0      F
 1   2   NaN  20.0      F,
    no  name   age gender
 4   5  park   NaN      M
 5   3   lee  16.0      M)

In [37]:
# 전처리
# - 결측치
csvDF.fillna({'name':'unknown','age':0})

   no     name   age gender
0   1     Hong  10.0      F
1   2  unknown  20.0      F
2   3      lee  16.0      M
3   4     jung  16.0      F
4   5     park   0.0      M
5   3      lee  16.0      M

In [38]:
# - 중복데이터 처리
# - keep매개변수 : 어느것을 중복으로 처리할지 결정 기본:False
csvDF.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [39]:
# - 중복데이터 처리
# - keep매개변수 : 어느것을 중복으로 처리할지 결정 기본:False
csvDF.drop_duplicates()

   no  name   age gender
0   1  Hong  10.0      F
1   2   NaN  20.0      F
2   3   lee  16.0      M
3   4  jung  16.0      F
4   5  park   NaN      M

In [40]:
# 나이컬럼 중복여부
csvDF.duplicated(subset=['age'])

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool