### [DataFrame 연산 - 1]
- 일대일 대응으로 인덱스가 동일한 원소끼리 연산
- DataFrame과 숫자데이터

In [9]:
import pandas as pd
import numpy as np

In [10]:
data={'A':[98,78,100,52],
      'B':[90,70,80,50]}

In [11]:
DF1=pd.DataFrame(data)
DF1

     A   B
0   98  90
1   78  70
2  100  80
3   52  50

In [12]:
# 연산 수행
# - 산술연산
DF1*3

     A    B
0  294  270
1  234  210
2  300  240
3  156  150

In [14]:
# - 비교연산
DF1<=100

      A     B
0  True  True
1  True  True
2  True  True
3  True  True