### [DataFrame의 인덱스 다루기 - 3]
- 행 인덱스를 정수형 인덱스로 초기화 
- 메서드 : 변수명.reset_index()

In [1]:
import pandas as pd

In [2]:
grade={'name':['마징가','태권V','원더우먼'],
       'kor':[90,80,70],
       'eng':[88,99,77],
       'eng':[75,85,95],
       'math':[91,71,81]}
gradeDF=pd.DataFrame(grade)
gradeDF

   name  kor  eng  math
0   마징가   90   75    91
1   태권V   80   85    71
2  원더우먼   70   95    81

In [3]:
# 행 인덱스 초기화
DF2=gradeDF.reset_index()
DF2

   index  name  kor  eng  math
0      0   마징가   90   75    91
1      1   태권V   80   85    71
2      2  원더우먼   70   95    81

In [4]:
# 행 인덱스 초기화 ==> 기존행 컬럼으로 추가 X
DF2=gradeDF.reset_index(drop=True)
DF2

   name  kor  eng  math
0   마징가   90   75    91
1   태권V   80   85    71
2  원더우먼   70   95    81