### [DataFrame의 인덱스 다루기 - 1]
- 인덱스 종류 : 행인덱스, 열인덱스
- 특정열을 행인덱스 설정하는방법
- 메서드 : df.set_index(열인덱스,inplace=False)

In [1]:
import pandas as pd

In [4]:
grade={'name':['마징가','태권V','원더우먼'],
       'kor':[90,80,70],
       'eng':[88,99,77],
       'eng':[75,85,95],
       'math':[91,71,81]}

In [5]:
# dict ==> DataFrame
gradeDF=pd.DataFrame(grade)
gradeDF

   name  kor  eng  math
0   마징가   90   75    91
1   태권V   80   85    71
2  원더우먼   70   95    81

In [10]:
# name 컬럼을 행 인덱스 설정
DF2=gradeDF.set_index('name')
DF2

      kor  eng  math
name
마징가    90   75    91
태권V    80   85    71
원더우먼   70   95    81

In [12]:
# DF2 데이터 프레임의 행인덱스와 열인덱스 확인
print(DF2.index,DF2.columns,sep='\n')

Index(['마징가', '태권V', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [18]:
# 데이터 추출
# 마징가, 원더우먼 성적 추출 즉, 행추출 ==> 변수명.loc[]/변수명.iloc[]
print(DF2.loc[['마징가','원더우먼']])
print(DF2.iloc[[0,2]])

      kor  eng  math
name
마징가    90   75    91
원더우먼   70   95    81
      kor  eng  math
name
마징가    90   75    91
원더우먼   70   95    81

In [20]:
# 영어 점수 컬랙션을 인덱스로 설정
DF3=gradeDF.set_index('eng')
DF3

     name  kor  math
eng
75    마징가   90    91
85    태권V   80    71
95   원더우먼   70    81

In [23]:
# name, eng 컬럼을 인덱스로 설정 => 멀티 인덱스
DF4=gradeDF.set_index(['name','eng'])
DF4

          kor  math
name eng
마징가  75    90    91
태권V  85    80    71
원더우먼 95    70    81

In [24]:
print(DF4.index)

MultiIndex([( '마징가', 75),
            ( '태권V', 85),
            ('원더우먼', 95)],
           names=['name', 'eng'])

In [28]:
## 멀티인덱스에서 행추출
DF4.loc[('마징가', 75)]

kor     90
math    91
Name: (마징가, 75), dtype: int64