### [DataFrame 연산 - 3]
- 일대일 대응으로 인덱스가 동일한 원소끼리 연산
- 메서드활용으로 NaN에 대한 연산 가능

In [1]:
import pandas as pd
import numpy as np

In [2]:
data={'A':[98,78,np.NaN,52],
      'B':[90,70,80,50]}

In [3]:
DF1=pd.DataFrame(data)
DF1

      A   B
0  98.0  90
1  78.0  70
2   NaN  80
3  52.0  50

In [5]:
# 연산수행
# DF + number
DF1.add(5,fill_value=0)

       A   B
0  103.0  95
1   83.0  75
2    5.0  85
3   57.0  55

In [9]:
# DF + DF
DF1.add(DF1+10,axis=1)

       A    B
0  206.0  190
1  166.0  150
2    NaN  170
3  114.0  110

In [10]:
data2={'A':[98,78,20,52],
      'B':[90,70,80,50]}
DF2=pd.DataFrame(data2)

In [11]:
DF1.add(DF2,fill_value=0)

       A    B
0  196.0  180
1  156.0  140
2   20.0  160
3  104.0  100