### 데이터 활용방법 - 전치
- 행과 열을 서로 바꾸는 것
- 방법
    (1) 메서드 : 변수명.transpose()
    (2) 속성 : 변수명.T

In [40]:
# 모듈 로딩
import pandas as pd

In [41]:
# 데이터 준비
file_name='test.csv'

In [42]:
# CSV ==> DataFrame
pd.read_csv(file_name)

   no   name  age gender
0   1   Hong   10      F
1   2   kim    20      F
2   3    lee   15      M
3   4  jung    16      F
4   5   park   22      M

In [43]:
# 저장
csvDF=pd.read_csv(file_name)

In [44]:
# DF 형태 변경 : 행 ==> 열, 열 ==> 행
print('before',csvDF.index,csvDF.columns,sep='\n\n')
# 속성 사용
csvDF=csvDF.T
print('after',csvDF.index,csvDF.columns,csvDF,sep='\n')

before

RangeIndex(start=0, stop=5, step=1)

Index(['no', 'name', 'age', 'gender'], dtype='object')
after
Index(['no', 'name', 'age', 'gender'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
           0     1    2      3     4
no         1     2    3      4     5
name    Hong  kim   lee  jung   park
age       10    20   15     16    22
gender     F     F    M      F     M

In [45]:
csvDF=csvDF.transpose()
print('after',csvDF.index,csvDF.columns,csvDF,sep='\n')

after
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name', 'age', 'gender'], dtype='object')
  no   name age gender
0  1   Hong  10      F
1  2   kim   20      F
2  3    lee  15      M
3  4  jung   16      F
4  5   park  22      M