### [Series 연산 - 3]
- 연산값이 비어있는경우
- 인덱스가 서로다른 시리즈

In [30]:
import pandas as pd
import math
import numpy as np

In [31]:
# 빈칸을 나타내는 문자 판다스에 없음
# => math 모듈과 numpy 패키지를 활용
math.nan, np.NaN

(nan, nan)

In [32]:
bibibig=[13,600,np.NaN,1500]
merona=[32,700,1200,1500]

In [33]:
# 1D list 데이터 ===> Series 형태 저장
sr1=pd.Series(bibibig)
sr2=pd.Series(merona)

In [34]:
print(sr1,sr2,sep='\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64
0      32
1     700
2    1200
3    1500
dtype: int64

In [35]:
# 연산 : Series + 숫자
# - 산술연산
sr1+5

0      18.0
1     605.0
2       NaN
3    1505.0
dtype: float64

In [36]:
# 비교연산
sr1>=5

0     True
1     True
2    False
3     True
dtype: bool

In [37]:
# 연산 : Series + Series
# - 산술연산
sr1*sr2

0        416.0
1     420000.0
2          NaN
3    2250000.0
dtype: float64

In [38]:
# - 비교연산
sr1!=sr2

0     True
1     True
2     True
3    False
dtype: bool

In [40]:
# 인덱스가 다른 시리즈 끼리 연산
# - sr3생성 : sr2인덱스 변경 [0,1,2,3] ==> [0,2,3,4]
sr3=sr2.rename(index={1:2,2:3,3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int64

In [42]:
# - 산술연산
sr2+sr3

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [43]:
# - 비교연산 : ERROR
# # sr2>sr3

In [45]:
sr3=sr3.reset_index(drop=True)

In [46]:
sr2>sr3

0    False
1    False
2    False
3    False
dtype: bool

In [49]:
# NaN에 대한 연산 수행 불가 대처용 메서드
sr1.add(sr2,fill_value=0) #빈칸(NaN)에 실수형태로 값 지정

0      45.0
1    1300.0
2    1200.0
3    3000.0
dtype: float64

In [50]:
# 인덱스가 다른 시리즈 끼리 연산하는 메서드
sr3=sr2.rename(index={1:2,2:3,3:4})

In [51]:

sr2.add(sr3,fill_value=0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64