### [Series & DataFrame 연산]

In [2]:
import pandas as pd

In [3]:
file_name='test1.csv'

In [4]:
csvDF=pd.read_csv(file_name,header=None)
csvDF

    0   1   2
0  10  20  30
1  90  80  70
2  66  55  44
3  90  90  90
4   5   5   5

In [5]:
# 연산 실습
# 0번 컬럼과 2번 컬럼 덧셈 연산 수행
result=csvDF[0]+csvDF[2]
result

0     40
1    160
2    110
3    180
4     10
dtype: int64

In [6]:
result=result+csvDF[1]
result

0     60
1    240
2    165
3    270
4     15
dtype: int64

In [7]:
# result 를 세로운 컬럼으로 추가
csvDF["Total"]=result
csvDF

    0   1   2  Total
0  10  20  30     60
1  90  80  70    240
2  66  55  44    165
3  90  90  90    270
4   5   5   5     15

In [8]:
# 행 5 추가 : 각 칼럼들 값 더한것
result2=csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
result2

0        261
1        250
2        239
Total    750
dtype: int64

In [9]:
csvDF.loc[5]=result2
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [10]:
# 연산수행 매서드 : sum(), max(), min()
SR0=csvDF[0]
print(SR0)
print('합  계 :',SR0.sum())
print('최대값 :',SR0.max())
print('최소값 :',SR0.min())

0     10
1     90
2     66
3     90
4      5
5    261
Name: 0, dtype: int64
합  계 : 522
최대값 : 261
최소값 : 5

In [11]:
# DF 합계
# 컬럼의 행 모아서 행의 sum
print('합  계 :',csvDF.sum())       # ↓

# 행의 컬럼 모아서 컬럼의 sum
print('합  계 :',csvDF.sum(axis=1)) # →

합  계 : 0         522
1         500
2         478
Total    1500
dtype: int64
합  계 : 0     120
1     480
2     330
3     540
4      30
5    1500
dtype: int64

In [12]:
# DF 최대값
# 컬럼의 행 모아서 행의 max
print('합  계 :',csvDF.max())       # ↓

# 행의 컬럼 모아서 컬럼의 max
print('합  계 :',csvDF.max(axis=1)) # →

합  계 : 0        261
1        250
2        239
Total    750
dtype: int64
합  계 : 0     60
1    240
2    165
3    270
4     15
5    750
dtype: int64

In [13]:
# DF 최소값
# 컬럼의 행 모아서 행의 min
print('합  계 :',csvDF.min())       # ↓

# 행의 컬럼 모아서 컬럼의 min
print('합  계 :',csvDF.min(axis=1)) # →

합  계 : 0         5
1         5
2         5
Total    15
dtype: int64
합  계 : 0     10
1     70
2     44
3     90
4      5
5    239
dtype: int64

#### 연산과 데이터 추출
- 연산결과와 데이터 추출 한번에 진행

In [18]:
# Total이 100이상인 데이터만 추출
Bool_index=csvDF.Total>100
Bool_index

0    False
1     True
2     True
3     True
4    False
5     True
Name: Total, dtype: bool

In [19]:
# Boolean Index 즉 특정값 추출 가능
# csvDF[컬럼인덱스] csvDF.iloc[컬럼인덱스] csvDF.loc[컬럼인덱스]
csvDF[Bool_index]

     0    1    2  Total
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
5  261  250  239    750